<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.uoh.learnandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment.fakenews.NewsContentActivity"></activity>
        <activity android:name=".fragment.fakenews.NewsActivity" />
        <activity android:name=".fragment.FragmentStatesActivity" />
        <activity android:name=".fragment.DynamicFragmentActivity" />
        <activity android:name=".fragment.StaticFragmentActivity" />
        <activity android:name=".ui.RecyclerViewActivity" />
        <activity android:name=".ui.NotifyMsgActivity" />
        <activity android:name=".ui.DataBindActivity" />
        <activity android:name=".ui.ConstraintDemoActivity" />
        <activity android:name=".ui.LinearDemoActivity" />
        <activity android:name=".ui.ListDemo1Activity" />
        <activity android:name=".ui.ListDemo2Activity" />
        <activity android:name=".activity.LifeCycleActivity" />
        <activity android:name=".activity.ReplyDataActivity" />
        <activity android:name=".activity.SendDataActivity" />
        <activity android:name=".activity.IntentActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.FirstDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>