<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.uoh.learnandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.UIDemoActivity"></activity>
        <activity android:name=".neteasenews.NeteaseNewsActivity" />
        <activity android:name=".backgroundtask.AsyncTaskActivity" />
        <activity android:name=".backgroundtask.DemoServiceActivity" />
        <activity android:name=".backgroundtask.ShowTimeActivity" />
        <activity android:name=".ui.NotificationDemoActivity" />
        <activity android:name=".net.VolleyDemoActivity" />
        <activity android:name=".net.HttpDemoActivity" />
        <activity android:name=".contacts.TelFormatActivity" />
        <activity android:name=".contacts.ContactsActivity" /> <!-- android:usesCleartextTraffic="true" -->
        <activity android:name=".permission.CallPhoneActivity" />
        <activity android:name=".note.NoteEditActivity" />
        <activity android:name=".note.NoteActivity" />
        <activity android:name=".storage.ExternalStorageActivity" />
        <activity android:name=".storage.InternalStorageActivity" />
        <activity android:name=".storage.SharedPreferencesActivity" />
        <activity android:name=".fragment.fakenews.NewsContentActivity" />
        <activity android:name=".fragment.fakenews.NewsActivity" />
        <activity android:name=".fragment.FragmentStatesActivity" />
        <activity android:name=".fragment.DynamicFragmentActivity" />
        <activity android:name=".fragment.StaticFragmentActivity" />
        <activity android:name=".ui.RecyclerViewActivity" />
        <activity android:name=".ui.NotifyMsgActivity" />
        <activity android:name=".ui.DataBindActivity" />
        <activity android:name=".ui.ConstraintDemoActivity" />
        <activity android:name=".ui.LinearDemoActivity" />
        <activity android:name=".ui.ListDemo1Activity" />
        <activity android:name=".ui.ListDemo2Activity" />
        <activity android:name=".activity.LifeCycleActivity" />
        <activity android:name=".activity.ReplyDataActivity" />
        <activity android:name=".activity.SendDataActivity" />
        <activity android:name=".activity.IntentActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.FirstDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".backgroundtask.DemoBindService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.DemoIntentService"
            android:exported="false" />
    </application>

</manifest>